.welcome {
  padding: 7px;
  border: 1px solid;
}

.welcome_button {
  background-color: #6a4caf; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.swap_off {
  background-color: red; /* For browsers that do not support gradients */
  background-image: linear-gradient(to right,yellow, red );
}

.swap_on {
  animation-name: background_multicolor;
  animation-duration: 10s;
}

@keyframes background_multicolor {
  0% {
    background-color: #cccccc;
    background-image: linear-gradient(red, yellow, blue);
  }
  25% {
    background-color: #cccccc;
    background-image: linear-gradient(#00ffac, #ffc107, blue);
  }
  50% {
    background-color: #cccccc;
    background-image: linear-gradient(
      rgb(255, 0, 43),
      rgb(189, 214, 193),
      rgb(25, 28, 192)
    );
  }

  80% {
    background-color: #cccccc;
    background-image: linear-gradient(
      rgb(255, 251, 0),
      rgb(22, 180, 49),
      rgb(82, 145, 85)
    );
  }
  100% {
    background-color: #cccccc;
    background-image: linear-gradient(
      rgb(229, 255, 0),
      rgb(214, 214, 189),
      rgb(192, 25, 170)
    );
  }
}

.welcome_button {
  transition-duration: 0.4s;
  border-radius: 15px;
}

.welcome_button:hover {
  background-color: #1714b9; /* Green */
  color: white;
}

@media only screen and (max-width: 375px) {
  .welcome {
    padding: 7px;
    border: 1px solid;
    height: 130px;
  }

  .welcome_button {
    background-color: #6a4caf; /* Green */
    border: none;
    color: white;
    padding: 9px 19px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
  }

  .welcome > h1 {
    font-size: 20px;
  }
}
