.main_container {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  height: 840px;
  padding: 4px;
  background: #8a2be2;
  border: 3px solid;
  position: relative;
}

.image_1{
position: absolute ;
}

.image_2{
  position: absolute;
  right: 0;
}

.image_3{
  position: absolute;
  left: 45%;
  z-index: 1;
}


.player-wrapper {
  position: relative;
  padding-top: 56.25%;
}

.react-player {
  position: absolute;
  top: 30%;
  left: 30%;
}
